<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 48px;
            color: #333;
        }

        p {
            color: #666;
        }

        a {
            color: #069;
        }
    </style>
</head>
<body>
<h1>404</h1>
<p>Sorry, the page you're looking for cannot be found!</p>
<a href="./index.html">Go Home</a>
</body>
</html>