<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
        }
        .error-message {
            text-align: center;
            cursor: pointer;
            font-size: 24px; /* 글자 크기를 24px로 설정 */
        }
    </style>
</head>
<body>
<div class="error-message" onclick="goBack()">요청값이 잘못되었습니다. 클릭하여 이전 페이지로 돌아가세요.</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
